/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap'); */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
}

.text-area {
    margin-left: 75px;
    margin-top: 120px;
    padding: 5%;
}
.text-area h1 {
    font-size: 50px;
    font-weight: 700;
    opacity: 0.8;
}
.half-width {
    width: 40%;
    /* margin: 5%; */
    padding: 2%;
}
.half-width img {
    width: 100%;
}

.gradient-color {
    color: #FB9049;
}

.link-button {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(#FB9049, #FD5533);
    color: #fff;
    margin-top: 20px;
    padding: 14px 24px;
    border-radius: 100px;
}

.about-me {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.recipie {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.recipie-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 100px;
}

.recipie-item {
    width: 30%;
    margin-left: 5%;
    padding: 12px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}
.recipie-item img {
    width: 100%;
}

footer {
    background-color: #0B0D17;
    /* height: 200px; */
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.net-color {
    color: #5B5B5B;
}